body{
    background-color: #1E90FF;
    color: #FFFF;
}

li{
    float: left;
    list-style-type: none;
}

#header{
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner{
    width: 60%;
}

.menu{
    border-top-style: solid; color: rgb(25, 83, 209);
    border-bottom-style: solid; color: rgb(25, 83, 209);
}

ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* HOME */

#servicesShortContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: space-around;
    margin-top: 10%;
}

.services img{
    width: fit-content;
    border-radius: 25%;
}

.services{
    display: column;
    text-align: center;
    margin-top: 10%;
}

/* home - APPLY */

#homeApply{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

#applyText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

#applyText button{
    width: 30%;
    height: 50px;
    border-radius: 10%;
}

/* ABOUT US */

#history{
    text-align: start;
    margin-left: 20%;
    margin-right: 20%;
    font-size: large;
}

h3{
    font-size: large;
    margin-left: 20%;
    margin-right: 20%;
}

h1{
    text-align: center;
    font-size: 50px;
}

#team img{
    width: 150px;
}

#team{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin-left: 20%;
    margin-right: 20%;
}

.teamInfo{
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: large;
}

#mision, #vision{
    margin-left: 20%;
    margin-right: 20%;
}

/* CONTACT US */

#mapContainer{
    width: 250px;
    height: 250px;
    margin-top: 20px;
    
}

form{
    display: flex;
    flex-direction: column;
    text-align: start;
    background-color: rgb(136, 191, 255);
    border-radius: 7%;
    padding: 0px 40px 20px 40px;
    width: 300px;
    margin-top: 50px;
}

#submitContainer{
    display: flex;
    width: 80%;
    justify-content: center;
}

label{
    margin-top: 25px;
}

#submitBtn{
    margin-top: 25px;
}

aside{
    float:right;
    position: relative;
}

#contactUs{
    display: flex;
}

/* SERVICES */

#servicesContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.servicesInfo{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.leftImgContainer {
    position: relative;
    display: inline-block;
}

.rightImgContainer {
    position: relative;
    display: inline-block;
}

.leftImgContainer img {
    display: block;
    width: 100%;
    height: auto;
}

.rightImgContainer img {
    display: block;
    width: 100%;
    height: auto;
}

.leftImgContainer::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 65%, rgba(30, 144, 255, 1));
    pointer-events: none; /* Para que el overlay no bloquee la interacción con otros elementos */
}

.rightImgContainer::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, rgba(0, 0, 0, 0) 65%, rgba(30, 144, 255, 1));
    pointer-events: none; /* Para que el overlay no bloquee la interacción con otros elementos */
}

.servicesDetail{
    font-size: large;
    align-self: center;
    padding: 5%;
}
